body {
  font-family: "Sansita", sans-serif;
  color: #efe1fd;
  background: #efe1fd;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 46px;
  font-weight: bolder;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

a {
  text-decoration-line: none;
}

small {
  color: rgb(133, 47, 190);
  font-family: "Gabriela", serif;
}

.source {
  color: rgb(133, 47, 190);
  font-family: "Gabriela", serif;
  text-decoration-line: underline;
}

.weatherAppWrapper {
  max-width: 800px;
  margin: 30px auto;
}

.weatherApp {
  padding: 20px;
  color: #ffffff;
  background: linear-gradient(
    to top,
    rgb(177, 95, 231) 20%,
    rgb(213, 169, 243) 80%
  );
  border-radius: 10px;
  box-shadow: rgb(136, 136, 136) 0px 2px 8px 2px;
}

.day {
  font-weight: 100;
  margin-top: 35px;
  text-align: center;
}

.dayTemp {
  font-size: 46px;
  font-weight: 500;
}

.dayTemp .active {
  color: #ffffff;
  cursor: default;
}

.dayIcon {
  margin: 0px;
  padding: 0px;
  width: 150px;
}

.units {
  font-size: 19px;
  font-weight: 500;
  position: relative;
  top: -20px;
}

.cityName {
  font-size: 36px;
  font-weight: 600;
}

.info1 {
  position: relative;
  top: -10px;
  font-weight: 500;
}

.info2 {
  font-weight: 500;
  position: relative;
  top: 25px;
}

.searchForm {
  height: 54px;
}

.searchBox {
  border-color: rgb(133, 47, 190);
}

.searchBox::placeholder {
  color: rgb(133, 47, 190);
}

.searchButton {
  background-color: #faf3ff;
  border-color: rgb(133, 47, 190);
  color: rgb(133, 47, 190);
  height: 54px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.searchButton:hover {
  background-color: rgb(133, 47, 190);
  border-color: rgb(133, 47, 190);
}

.weather-forecast {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 30px;
}

.weather-forecast-date {
  font-weight: 500;
}

.weather-forecast-temp {
  font-size: 20px;
}

.weather-forecast-lowTemp {
  opacity: 0.7;
}

.forcastDayIcon {
  max-width: 80px;
}
