body {
  font-family: "Sansita", sans-serif;
  color: #efe1fd;
  background: #efe1fd;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 46px;
  font-weight: bolder;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: rgb(133, 47, 190);
}

small {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: rgb(133, 47, 190);
  font-family: "Gabriela", serif;
}

.source {
  color: rgb(133, 47, 190);
  font-family: "Gabriela", serif;
  text-decoration-line: underline;
}

.weatherAppWrapper {
  max-width: 800px;
  margin: 30px auto;
}

.weatherApp {
  padding: 20px;
  color: #ffffff;
  background: rgb(196, 151, 226);
  border-radius: 10px;
  box-shadow: rgb(136, 136, 136) 0px 2px 8px 2px;
}

.day {
  font-weight: 100;
  margin-top: 35px;
  text-align: center;
}

.dayTemp {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}

.dayTemp .active {
  color: #ffffff;
  cursor: default;
}

.dayIcon {
  margin: 0px;
  padding: 0px;
  width: 100px;
}

.units {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  top: -20px;
}

.cityName {
  font-size: 40px;
  font-weight: 600;
}

.date {
  font-size: 25px;
}

.description {
  font-size: 25px;
}

.info1 {
  position: relative;
  top: -10px;
  font-weight: 500;
}

.info2 {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  top: 50px;
}

.searchForm {
  height: 54px;
}

.searchBox {
  border-color: rgb(133, 47, 190);
}

.searchBox::placeholder {
  color: rgb(133, 47, 190);
}

.searchButton {
  background-color: #faf3ff;
  border-color: rgb(133, 47, 190);
  color: rgb(133, 47, 190);
  height: 54px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.searchButton:hover {
  background-color: rgb(133, 47, 190);
  border-color: rgb(133, 47, 190);
}

.weather-forecast {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 25px;
}

.weather-forecast-date {
  font-weight: 500;
}

.weather-forecast-temp {
  font-size: 20px;
}

.weather-forecast-lowTemp {
  opacity: 0.7;
}

.weather-forecast .forcastDayIcon {
  max-width: 20px;
}

@media (max-width: 390px) {
  body {
    max-width: 390px;
  }

  .weatherAppWrapper {
    max-width: 390px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
  }

  .search {
    max-width: 350px;
    margin: 20px auto;
  }

  .day {
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .dayTemp {
    font-size: 70px;
  }

  .info1 {
    text-align: center;
    margin-bottom: 0px;
  }

  .info2 {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 10px;
  }

  .weather-forecast {
    display: flex;
    justify-content: space-between;
    max-width: 55px;
    margin-bottom: 50px;
  }

  small {
    position: absolute;
    bottom: 15px;
    left: 55px;
    color: #ffffff;
    opacity: 80%;
  }
}
